#content{
    margin-left: 100px;
}
h1{
    text-align: center;
}
.row{
    width: 100%;
}
.colleft{
    float: left;
}
.col1{
    width: 5%;
    text-align: right;
}
.col2{
    width: 10%;
    text-align: left;
}
.col3{
    width: 5%;;
}
.col4{
    width: 80%;
    text-align: left;
}
